<div>
    <p style='font-weight: normal;'>Hi, ${nick} ( ${email} )! We are pleased to welcome you as a attender for registered
        user of the Service.</p>

    <p style='font-weight: normal;'>Your email : ${email} ,<br/>
        <strong>Your code</strong> : ${token} .
    </p>

    <p style='font-weight: normal;'><strong>Put this code on the Code Page (next page after registering).</strong></p>

    <p style='font-weight: normal;'>Please, pay your attention : period of use of the code will expire
        on ${token_exp_time} .</p>

</div>
<div>
    #include("include/footer.vm")
</div>