<div>
    <p style='font-weight: normal;'>Hi, ${nick} ( ${email} )! We are pleased to welcome you as a registered user of the
        Service.</p>

    <p style='font-weight: normal;'>Please, feel free to get started and let us know if there is anything we can do to
        help you get setup quicker.</p>
</div>
<div>
    #include("include/footer.vm")
</div>