<div>
    <p style='font-weight: normal;'>Hi, ${nick} ( ${email} )! We are pleased to welcome you as a registered user of the
        Service.</p>

</div>
<div>
    #include("include/footer.vm")
</div>