<p style='font-weight: normal;'>Please, feel free to get started and let us know if there is anything we can do to
    help you get setup quicker.</p>
<p>We look forward to serving you.<br/>
    <strong>Cheers</strong>,<br/>
    <a href='http://___' target='_blank' style='font-weight: normal;'>MA</a> Team<br/>
    <a href='http://___/about.xhtml' target='_blank'>About</a> | <a
            href='http://___/api-docs.xhtml' target='_blank'>API</a> | <a
            href='http://___/terms-of-service.xhtml' target='_blank'>Terms of Service</a> |
    <a href='http://___/privacy-policy.xhtml'>Privacy policy</a>
</p>